<form [formGroup]="formGroup" (submit)="onFormSubmit()">
  <fieldset *ngFor="let fieldset of fieldsets" [disabled]="loading">
    <legend>{{ fieldset.legend }}</legend>
    <div class="input-box" *ngFor="let f of fieldset.fields">
        <mat-form-field>
            <input 
              matInput 
              type="{{f.type}}" 
              placeholder="{{ f.placeholder }}" 
              [formControl]="formGroup.controls[f.key]"
              >
          </mat-form-field>
    </div>
    <button mat-raised-button type="submit" [disabled]="loading">
      <span *ngIf="!loading">Submit</span>
      <span *ngIf="loading">Submitting...</span>
    </button>
    <button class="cancel" mat-button type="button" (click)="onCancel()">
      Cancel
    </button>
  </fieldset>
</form>